.background,
.outer-bg{
    height: 100%;
    background-color: #242526; /* For browsers that do not support gradients */
    background: linear-gradient(white, 25%, #242526);
}

.cover-img{
    width:100%;
}

.dp-img{
    margin-top: -15px;
    border-width: 5px;
    border-color: #242526;
    width: 175px;
    height:150px;
}

.btn-sign{
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 17px;
    font-weight: bold;
}

.link{
    margin-left: 100px;
}

.fa-star{
    color:#f5e342;
}

.fa-check-circle{
width: 16px;
height: 16px;
color:#0e4ee6;
}

.content,
.container,
.nav-menu{
    width:70%;
}

.nav-menu{
    justify-content: center;
    margin-left: 200px;
}

.bottom-content,
.bg{
    background-color: #222;
    border-color: #222;
}

.cards-area{
    width:70%;
    margin-left: 280px;
}

.btn-create{
    margin-top: -20px;
    margin-left: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.see-link{
    margin-left: 170px;
}

.text{
    margin-top: -40px;
    margin-left: 60px;
}

.card-bg2{
    margin-top: 20px;
}

.cont-text{
    margin-top: 15px;
}
.card-image{
    width:100%;
}

.fa-images{
    color:#00b300;
}

.fa-map-marker-alt{
    color: #e62e00;

}

.green{
    color:#00b300;
}

.fa-facebook{
    color:#0e4ee6;
}

@media screen and (max-width:576px) {

.cov-cont{
    width:100%;
}
.cover-img{
    width:200%;
    margin-top: 30px;
}

.dp-img{
    position: relative;
    margin-left: -20px;
}

.btn-sign{
    padding-left: 170px;
    padding-right: 110px;
    margin-left: -180px;
    width: 100%;
    height: 45px;
}

.container,
.nav-menu{
    width:75%;
    margin-left: 1px;
    margin-right: 3px;
}
.dp-cont1,
.dp-cont2{
    width:130%;
    
}
.outer-bg{
    width:100%;
}
.dp-img{
    width: 100px;
    height: 100px;
    margin-top: 8px;
}
.card-title{
    margin-top: -125px;
    margin-left: 50px;
    width: 100%;
}

.card-text{
    margin-left: 50px;
    width: 100%;
}

.link{
    margin-left: -90px;
}

.fa-pen{
    margin-left: -100px;
    margin-top: -2px;
}

.cards-area{
    margin-left:40px;
    width: 100%;
}

.card-title{
    margin-top: 20px;
    margin-left: 8px;
}

.card-text{
    margin-left: 8px;
}

.see-link,
.link-primary{
    margin-top: -30px;
    display: none;
}

.guvi-title{
    
    margin-top: -125px;
    margin-left: 50px;
}
.guvi-content{
    margin-left: 50px;
}

.bottom-content{
    width: 100%;
}

.btn-create{
    padding-left: 20px;
    padding-right: 20px;
}
.total{
    margin-right: -20px;
}
}